.nav {
    @apply fixed z-[2000] w-full h-[calc(100%_-_64px)] flex transition-all transform 
            lg:p-4 lg:h-auto 
            2xl:h-full 2xl:w-2/12
}

.nav-hide {
    @apply -translate-x-full
}

.nav-active {
    @apply translate-x-0
}

.nav-content-wrapper {
    @apply flex flex-col justify-center w-8/12 mx-auto 
            lg:w-full lg:flex-row lg:mx-0 lg:justify-around
            2xl:w-9/12 2xl:mx-auto 2xl:flex-col 2xl:justify-center
}

.nav-github-link-container {
    @apply flex flex-col justify-center items-center
}

.nav-links-wrapper {
    @apply flex flex-col justify-center items-center mt-3 max-w-3xl 
            lg:flex-row lg:w-8/12 lg:justify-around
            2xl:flex-col 2xl:w-full
}

.nav-github-link {
    @apply flex flex-col justify-center w-[180px] mx-auto
}

.nav-github-icon {
    border-radius: 50%;
    background: linear-gradient(to bottom right, #ffffff, #ffffff);
    @apply text-5xl text-gray-800 text-center mx-auto
}

.nav-github-text {
    background: linear-gradient(to bottom right, #ffffff, #ffffff);
    background-clip: text;
    color: transparent;  
    display: inline-block;
    border-image: linear-gradient(to bottom right, #ffffff, #ffffff);
    border-image-slice: 1;

    margin: auto;
    @apply text-xl font-black font-lora
}

.nav-github-container:hover .nav-github-icon {
    border-radius: 50%;
    background: linear-gradient(to bottom right, var(--brand-color-a), var(--brand-color-b));
}

.nav-github-container:hover .nav-github-text {
    background: linear-gradient(to bottom right, var(--brand-color-a), var(--brand-color-b));
    background-clip: text;
    color: transparent;  
    border-image: linear-gradient(to bottom right, var(--brand-color-a), var(--brand-color-b));
    border-image-slice: 1;
}
