.nav-link {
    max-width: 150px;
    
    @apply text-lg font-bold text-center overflow-hidden mt-5 
            lg:mt-0 lg:h-8 lg:text-lg 
            2xl:mx-auto 2xl:w-auto 2xl:mt-4;
}

.nav-link-line {
    background: linear-gradient(to bottom right, #ffffff, #ffffff);
    @apply h-1 w-full transform -translate-x-full transition-all
}

.nav-link:hover .nav-link-line{
    background: linear-gradient(to bottom right, var(--brand-color-a), var(--brand-color-b));
    @apply transform translate-x-0
}