.window-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-bg);
    top: 0;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 100;
    
    .window {
        height: 100%;
        background-color: var(--brand-bg);
        overflow-y: scroll;
        padding: 30px;
        width: 100%;

        .window-top {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .close-btn {
                border: 2px var(--brand-color-a) solid;
                background-color: lightgray;
                border-radius: 50%;
                color: var(--brand-bg);
                cursor: pointer;
                font-weight: bolder;
                padding: 5px;
                height: 35px;
                width: 35px;
            }

            .close-btn:hover {
                box-shadow: 0 0 10px var(--brand-color-a);
                background-color: var(--brand-color-a);
                color: white;
            }
        }
    }
}

@media (min-width: 1024px) {
    .window-container {
        height: 100vh;
        background-color: rgba(180, 180, 180, 0.8);

        .window {
            height: 55%;
            background-color: rgba(31, 41, 55, 0.8);
            border-radius: 15px;
            padding: 30px 45px;
            box-shadow: 0 0 20px var(--brand-color-a);
            backdrop-filter: blur(20px);
            width: 50%;
        }
    }   
}