.window-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-bg);
    top: 0;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 100;
    
    .window {
        height: 100%;
        background-color: var(--brand-bg);
        overflow-y: scroll;
        padding: 30px;
        width: 100%;
        z-index: 200;

        .window-top {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    .window-container {
        height: 100vh;
        background-color: var(--window-bg);

        .window {
            height: auto;
            max-height: 400px;
            background-color: var(--brand-bg-glass);
            border-radius: 15px;
            padding: 30px 45px;
            box-shadow: 0 0 20px var(--brand-color-a);
            backdrop-filter: var(--glass);
            width: auto;
            max-width: 800px;
        }
    }   
}