.javascript-icon {
    fill: gold;
}

.react-icon {
    fill: var(--brand-color-a);
}

.error-icon {
    background-color: white;
    box-shadow: 0 0 10px white;
    border-radius: 50%;

    path {
        fill: var(--brand-color-a);
    }
}

.cobra-icon {
    path {
        fill: white;
    }
}

.typescript-icon {
    fill: rgb(0, 100, 200);
}

.sass-icon {
    fill: palevioletred;
}

.git-icon {
    fill: orangered;
}

.vue-icon {
    fill: lightgreen;
}

.laravel-icon {
    fill: orangered;
}

.tailwind-icon {
    fill: lightseagreen;
}

.mysql-icon {
    fill: rgba(0, 100, 200);
}

.graphql-icon {
    fill: palevioletred;
}