.javascript-icon {
    fill: gold;
}

.react-icon {
    fill: var(--brand-color-a);
}

.typescript-icon {
    fill: rgb(0, 100, 200);
}

.sass-icon {
    fill: palevioletred;
}

.git-icon {
    fill: orangered;
}

.vue-icon {
    fill: lightgreen;
}

.laravel-icon {
    fill: orangered;
}

.tailwind-icon {
    fill: lightseagreen;
}

.mysql-icon {
    fill: rgba(0, 100, 200);
}

.graphql-icon {
    fill: palevioletred;
}