.challenges-list-container {
    display: flex;
    width: 100%;

    .challenges-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, max-content));
        gap: 30px;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 100%;

        .challenge-item {
            display: flex;
            width: 100%;
        }
    }
}

@media (min-width: 640px) {
    .challenges-list-container {
        .challenges-list {
            grid-template-columns: repeat(2, minmax(270px, max-content));
        }
    }
}

@media (min-width: 1366px) {
    .challenges-list-container {
        .challenges-list {
            grid-template-columns: repeat(4, 270px);
        }
    }
}

@media (min-width: 1920px) {
    .challenges-list-container {
        .challenges-list {
            grid-template-columns: repeat(4, 300px);
        }
    }
}
