.challenge-card-container {
    display: flex;
    border: 2px var(--brand-color-a) solid;
    box-shadow: 0 0 10px var(--brand-color-a);
    width: 100%;

    .challenge-card {
        display: flex;
        position: relative;
        width: 100%;

        .challenge-info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: var(--brand-color-c);
            position: absolute;
            height: 100%;
            width: 100%;

            .challenge-name {
                font-family: var(--font-a);
                font-size: 22px;
                font-weight: bolder;
                color: white;
            }

            .action-btn {
                margin-top: 40px;
            }
        }

        .challenge-image {
            display: flex;
            width: 100%;
        }
    }
}

.challenge-card-container:hover {
    box-shadow: 0 0 20px var(--brand-color-a);
    border: 2px var(--brand-color-a) solid;
}

@media (min-width: 1024px) {
    .challenge-card-container {
        .challenge-card {
            .challenge-info {
                background-color: var(--brand-color-c);
                opacity: 0;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    .challenge-card-container:hover {
        .challenge-card {
            .challenge-info {
                opacity: 1;
            }
        }
    }
}