.app-content-wrapper {
    background-image: url('../../public/images/grid_transparent_tile.png');
    background-color: rgb(31, 41, 55);
    left: 0;
    right: 0;
    background-size: 180px;
    top: calc(63px - 180px);
    bottom: 0;
    background-repeat: repeat;
    background-position: top center;
    z-index: -1;

    @apply w-full min-h-screen
}

.brand-bg {
    @apply bg-gray-800;
}

.brand-letter-light {
    @apply text-white;
}

.brand-letter-dark {
    @apply text-gray-800;
}

.brand-shadow {
    box-shadow: var(--shadow-default);
}

.brand-shadow-active {
    box-shadow: var(--shadow-active);
}

.custom-border {
    border-radius: var(--border-radius);
}

.custom-padding {
    padding: var(--box-padding);
}

.gradient-text {
    background: linear-gradient(to bottom right, #ffffff, #ffffff);
    background-clip: text;
    border-image: linear-gradient(to bottom right, #ffffff, #ffffff);
    border-image-slice: 1;
    color: transparent;  
    display: inline-block;
}

.gradient-text:hover {
    background: linear-gradient(to bottom right, var(--brand-color-a), var(--brand-color-b));
    background-clip: text;
    border-image: linear-gradient(to bottom right, var(--brand-color-a), var(--brand-color-b));
}