.mobilebar-btn {
    display: flex;
    border: none;
    cursor: pointer;
    background-color: transparent;

    .text {
        color: white;
        font-size: 16px;
        margin-right: 5px;
    }

    .menu-x-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 20px;
        margin-left: 5px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .menu-x-icon span {
        display: block;
        background-color: white;
        position: absolute;
        height: 4px;
        width: 100%;
        background: var(--brand-purple);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .menu-x-icon {
        span {
            background-color: white;
        }
    }

    .menu-x-icon span:nth-child(1) {
        top: 0px;
      }
      
    .menu-x-icon span:nth-child(2),.menu-x-icon span:nth-child(3) {
    top: 8px;
    }
    
    .menu-x-icon span:nth-child(4) {
    top: 16px;
    }
    
    .menu-x-icon.open span:nth-child(1) {
    top: 14px;
    width: 0%;
    left: 50%;
    }
    
    .menu-x-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .menu-x-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .menu-x-icon.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
    }
}