.ec-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .letter {
        color: white;
        font-family: sans-serif;
        font-size: 40px;
    }

    .letter:nth-child(6) {
        margin-left: 5px;
    }
}