.ec-full-name {
    display: flex;

    .ec-name-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    
        .letter {
            color: transparent;
            font-family: var(--font);
            font-size: 30px;
            -webkit-text-stroke-width: 1px;
        }
        
        .name-letter {
            -webkit-text-stroke-color: white; 
        }

        .letter:nth-child(6) {
            margin-left: 10px;
        }
    }
}

@media (min-width: 640px) {
    .ec-full-name {
        .ec-name-container {
            .letter {
                font-size: 45px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .ec-full-name {
        .ec-name-container {
            .letter {
                font-size: 52px;
            }
        }
    }
}

@media (min-width: 1366px) {
    .ec-full-name {
        .ec-name-container {
            .letter {
                font-size: 55px;
            }
        }
    }
}