.hire-me-container {
    display: flex;
    background-image: linear-gradient(to right, rgba(31, 44, 180, 0.5), var(--brand-bg-glass), rgb(31, 44, 180));
    backdrop-filter: var(--glass);
    box-shadow: 0 0 10px var(--brand-color-a);
    background-size: 200%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 150px;
    padding: 10px 0;
    width: 100%;
    animation: backgroundI 5s linear infinite;

    @keyframes backgroundI {
        from {
            background-position: 0% center;
        }
    
        to {
            background-position: -200% center;
        }
    }

    .hire-me {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bolder;
        height: 100%;
        width: 100%;

        .hire-me-text {
            font-size: 30px;
            margin-right: 10px;
            text-shadow: 0 0 3px var(--brand-color-a);
        }

        .action-btn {
            margin-top: 5px;
            width: 130px !important;
        }
    }
}

@media (min-width: 640px) {
    .hire-me-container {
        height: 100px;
        padding: 0;
    }
}

@media (min-width: 1366px) {
    .hire-me-container {

        .hire-me {
            .hire-me-text {
                font-size: 35px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .hire-me-container {
        height: 120px;
        padding: 0;

        .hire-me {
            .hire-me-text {
                font-size: 50px;
            }
        }
    }
}