.project-details {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;

    .point {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        text-shadow: 0 0 10px var(--brand-color-a);
        text-decoration: underline;
    }

    .top {
        display: flex;
        flex-direction: column;
        
        .title {
            font-size: 28px;
            font-weight: bolder;
            text-shadow: 0 0 10px var(--brand-color-a);
        }

        .subtitle {
            color: white;
        }
    }

    .description-container {
        margin-top: 20px;

        .details {
            margin-top: 10px;
            font-size: 18px;
        }
    }

    .stack-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;

        .stack-list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;

            .stack-item {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 50%;
                border: 2px white solid;
                margin-top: 10px;
                margin-right: 5px;
                height: 45px;
                width: 45px;

                .icon {
                    padding: 2px;
                    height: 30px;
                    width: 30px;
                }
            }

            .stack-item:hover {
                box-shadow: 0 0 15px var(--brand-color-a);
                border: 2px var(--brand-color-a) solid;
            }
        }
    }

    .images-container {
        margin-top: 20px;

        .images-text {
            
        }
    
        .images-list {  
            display: flex;
            flex-wrap: wrap;
            width: 100%;
    
            .image {
                display: flex;
                margin-right: 15px;
                margin-top: 15px;
            }   
    
            .image:hover {
                box-shadow: 0 0 10px var(--brand-color-a);
            }
        }
    }

    .check-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--brand-bg);
        border: 2px var(--brand-color-a) solid;
        background-color: var(--brand-color-a);
        border-radius: 10px;
        font-weight: bolder;
        text-decoration: none;
        margin-top: 28px;
        padding: 10px;
        width: 100px;
    }

    .check-btn:hover {
        background-color: var(--brand-bg);
        color: var(--brand-color-a);
        box-shadow: 0 0 10px var(--brand-color-a);
    }
}