.project-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;

    .top {
        display: flex;
        flex-direction: column;
        
        .title {
            font-size: 28px;
            font-weight: bolder;
            text-shadow: 0 0 10px var(--brand-color-a);
        }

        .subtitle {
            color: white;
        }
    }

    .details {
        margin-top: 20px;
        font-size: 18px;
    }

    .stack-container {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 100%;

        .stack-list {
            display: flex;
            list-style: none;
            margin-left: 10px;
        }
    }

    .images-list {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .image {
            display: flex;
            height: 450px;
            width: 350px;
        }   

        .image:hover {
            box-shadow: 0 0 10px var(--brand-color-a);
        }
    }

    .check-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--brand-bg);
        border: 2px var(--brand-color-a) solid;
        background-color: var(--brand-color-a);
        border-radius: 10px;
        font-weight: bolder;
        text-decoration: none;
        margin-top: 15px;
        padding: 10px;
        width: 100px;
    }

    .check-btn:hover {
        background-color: var(--brand-bg);
        color: var(--brand-color-a);
        box-shadow: 0 0 10px var(--brand-color-a);
    }
}