.wall-container {
    display: flex;
    background-color: var(--brand-bg-glass);
    backdrop-filter: var(--glass);
    border-bottom: 2px var(--brand-color-a) solid;
    box-shadow: 0 0 10px var(--brand-color-a);
    height: 100vh;
    width: 100%;

    .wall {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;

        .top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: auto;

            .wall-text-container {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                order: 2;

                .name-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    .ec-letter {
                        color: transparent;
                        letter-spacing: 2px;
                        -webkit-text-stroke-color: white;
                        -webkit-text-stroke-width: 1px;
                        animation: elvisAnimation 3s infinite;

                        @keyframes elvisAnimation {
                            0% {
                                opacity: 0;
                            }

                            50% {
                                color: transparent;
                            }

                            100% {
                                opacity: 1;
                                color: white;
                            }
                        }
                    }
                }

                .ec-line {
                    background-image: linear-gradient(to right, #18a3fa, #30adfc, #9bebfc);
                    margin-top: 10px;
                    height: 2px;
                    width: 0%;
                    transition: all 1s ease-in-out;
                }

                .full-line {
                    width: 100%;
                }

                .ec-career {
                    display: flex;
                    justify-content: center;
                    color:#b0b2b8;
                    font-weight: bolder;
                    font-family: var(--font);
                    font-size: 22px;
                    margin-top: 5px;
                }
            }

            .wall-circuit-container {
                display: flex;
                order: 1;

                .wall-circuit {
                    display: flex;
                    opacity: 0;
                    position: relative;
                    width: 100%;
                    transition: all 2s ease-in-out;
                    transition-delay: 1.3s;

                    .ec-logo-circuit {
                        border-radius: 50%;
                        padding: 5px;
                        border: 2px white solid;
                        height: 90px;
                        width: 90px;
                        
                        path:not(:first-child) {
                           fill: white;
                        }

                        circle {
                            animation: circleAnimation 3s infinite alternate-reverse;
                            fill: white
                        }

                        path:first-child {
                            fill: var(--brand-color-c);
                        }
                    }
                }

                .show-circuit {
                    opacity: 1;
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 40px;
            opacity: 0;
            transition: all 2s ease-in-out;
            transition-delay: 1.3s;

            .resume-download-container {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                font-family: var(--font);

                .resume-download-selection {
                    display: flex;
                    align-items: center;
                    color: white;
                    
                    .wall-bottom-text {
                        font-size: 16px;
                        margin-right: 10px;
                    }

                    .input-select {
                        background-color: var(--brand-bg-glass);
                        border: 1px white solid;
                        border-radius: 4px;
                        box-shadow: 0 0 5px white;
                        color: white;
                        cursor: pointer;
                        padding: 4px 8px;
                    }
                }

                .action-btn {
                    margin-top: 30px
                }
            }        
        }

        .mouse {
            border: 3px solid var(--brand-color-a);
            border-radius: 60px;
            box-shadow: 0 0 15px var(--brand-color-a);
            margin-top: auto;
            margin-bottom: 65px;
            position: relative;
            height: 50px;
            width: 30px;
        }
          
        .mouse::before {
            content: "";
            width: 9px;
            height: 9px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0 0 20px var(--brand-color-a);
            background-color: var(--brand-color-a);
            border-radius: 50%;
            opacity: 1;
            animation: wheel 2s infinite;
            -webkit-animation: wheel 2s infinite;
        }
          
        @keyframes wheel {
            to {
              opacity: 0;
              top: 35px;
            }
        }
        
        @-webkit-keyframes wheel {
            to {
              opacity: 0;
              top: 35px;
            }
        } 

        .show-bottom {
            opacity: 1;
        }
    }
}

@media (min-width: 640px) {
    .wall-container {
        .wall {
            margin-top: 0;
            justify-content: center;

            .top {
                .wall-text-container {
                    .ec-career {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .wall-container {
        .wall {
            justify-content: unset;

            .top {
                margin-top: 100px;

                .wall-text-container {
                    .ec-career {
                        font-size: 40px;
                    }
                }

                .wall-circuit-container {
                    .wall-circuit {
                        .ec-logo-circuit {   
                            height: 120px;
                            width: 120px;
                        }
                    }
                }
            }

            .mouse {
                margin-bottom: 30px;
            }
        }
    }
}

@media (min-width: 1366px) {
    .wall-container {
        .wall {
            .top {
                margin-top: 130px;

                .wall-text-container {
                    .ec-career {
                        font-size: 35px;
                    }
                }

                .wall-circuit-container {
                    .wall-circuit {
                        .ec-logo-circuit {   
                            height: 120px;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .wall-container {
        .wall {
            align-items: center;
            justify-content: center;

            .top {
                margin-top: auto;

                .wall-text-container {
                    .ec-career {
                        font-size: 45px;
                    }
                }

                .wall-circuit-container {
                    .wall-circuit {
                        .ec-logo-circuit {   
                            margin-bottom: 30px;
                            height: 160px;
                            width: 160px;
                        }
                    }
                }
            }
        }
    }
}