.project-card-container {
    display: flex;
    background-color: var(--brand-color-c);
    border: 2px var(--brand-color-a) solid;
    box-shadow: 0 0 10px var(--brand-color-a);
    width: 100%;

    .project-card {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;

        .top {
            display: flex;
            
            .project-front-image {
                opacity: 0;
                transition: all 0.5s ease-in-out;
                width: 100%;
            }
        }

        .project-info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 1;
            padding: 20px 0;
            position: absolute;
            background-color: transparent;
            top: 0;
            height: 100%;
            width: 100%;
            transition: all 0.5s ease-in-out;

            .project-text-container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
                flex-direction: column;

                .project-title {
                    font-size: 22px;
                    font-family: var(--font-a);
                    text-shadow: 0 0 10px var(--brand-color-a);
                }

                .project-subtitle {
                    font-family: var(--font-b);
                    margin-top: 5px;
                }
            }

            .project-btns {
                display: flex;
                margin-top: auto;
                
                .project-github-link, .project-details-btn {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    justify-content: center;
                    padding: 10px 10px;
                    font-size: 14px;
                    border-radius: 10px;
                    width: 85px;
                }

                .project-github-link {
                    border: 2px white solid;
                    opacity: 0.8;
                    background-color: transparent;
                    color: white;
                    text-decoration: none;
                    margin-right: 15px;
                }

                .project-github-link:hover {
                    background-color: gray;
                }

                .project-details-btn {
                    color: var(--brand-bg);
                    border: 2px var(--brand-color-a) solid;
                    background-color: var(--brand-color-a);
                }

                .project-details-btn:hover {
                    box-shadow: 0 0 10px var(--brand-color-a);
                }
            }
        }
    }
}

.project-card-container:hover {
    border: 2px var(--brand-color-a) solid;
    box-shadow: 0 0 20px var(--brand-color-a);

    .project-card {
        .top {
            .project-front-image {
                opacity: 0;
            }
        }

        .project-info {
            opacity: 1;
        }
    }
}

@media (min-width: 1024px) {
    .project-card-container {
        .project-card {
            .top {
                .project-front-image {
                    opacity: 1;
                }
            }

            .project-info {
                opacity: 0;
            }
        }
    }
}