.skill-item-container {
    display: flex;
    z-index: 1;
    
    .skill-item {
        display: flex;
        
        .icon-container {
            display: flex;
            border-radius: 50%;
            background-color: white;
            box-shadow: 0 0 10px white;
            border: 2px var(--brand-color-d) solid;
            padding: 15px;
            height: 77px;
            width: 77px;
            
            .icon {
                opacity: 1;
                height: 100%;
                width: 100%;
            }

            
        }

        .icon-container:hover {
            border: 2px var(--brand-color-a) solid;
            box-shadow: 0 0 20px var(--brand-color-a);
        }
    }
}

@media (min-width: 1366px) {
    .skill-item-container {
        .skill-item {
            .icon-container {
                height: 80px;
                width: 80px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .skill-item-container {
        .skill-item {
            .icon-container {
                padding: 20px;
                height: 100px;
                width: 100px;
            }
        }
    }
}