.grid-background {
    background-image: linear-gradient(to right, var(--brand-color-a), var(--brand-color-c), var(--brand-color-a));
    height: 100%;
    position: absolute;
    background-size: 200%;
    margin: 0;
    width: 100%;
    animation: backgroundG 10s linear infinite;
    z-index: 1;

    @keyframes backgroundG {
        from {
            background-position: 0% center;
        }
    
        to {
            background-position: -200% center;
        }
    }
}

.tiles {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.tile {
    position: relative;
}

.tile:before {
    background-color: var(--brand-bg);
    content: "";
    position: absolute;
    inset: 0.5px;
    border-radius: 6px;
}