.footer-container {
    display: flex;
    background-color: rgb(31, 41, 80);
    border-top: 2px var(--brand-color-a) solid;
    box-shadow: 0 0 15px var(--brand-color-a);
    color: var(--simple-text);
    font-weight: bolder;
    margin-top: 50px;
    padding: 60px 0 80px 0;
    width: 100%;
    
    .footer {
        display: flex;
        align-items: center;
        font-family: var(--font-b);
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .email-container {
            display: flex;
            justify-content: center;
            margin-top: 15px;

            .mail-icon {
                fill: white;
                margin-right:10px;
                height: 20px;
                width: 20px;
            }
        }
        
        .social-networks-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            .footer-link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                margin-right: 10px;
                width: auto;
            }

            .world-icon {
                fill: white;
                height: 27px;
                width: 27px;
            }

            .github-icon {
                fill: white;
                height: 22px;
                width: 22px;
            }

            .linkedin-icon {
                border-radius: 5px;
                margin-left: 2px;
                fill: white;
                height: 22px;
                width: 22px
            }
        }

        .details-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-top: 18px;

            .designed-text {
                display: flex;
                justify-content: center;
                align-items: center;

                .cog-icon {
                    fill: white;
                    margin-bottom: 3px;
                }

                .text-sm {
                    margin-left: 5px;
                }
            }

            .text-sm {
                margin-top: 5px;
            }
        }

        .bottom {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            .text-with-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 3px;

                .react-icon {
                    fill: var(--brand-color-a);
                    margin-left: 5px;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .footer-container {
        .footer {
            .top-text {
                font-size: 22px;
            }

            .email-container {
                font-size: 20px;

                .mail-icon {
                    height: 25px;
                    width: 25px;
                }
            }           

            .social-networks-container {
                .world-icon {
                    height: 35px;
                    width: 35px;
                }

                .github-icon {
                    height: 30px;
                    width: 30px;
                }

                .linkedin-icon {
                    height: 30px;
                    width: 30px;
                }
            }

            .details-container {
                .designed-text {
                    font-size: 22px;
                }

                .text-sm {
                    font-size: 20px;
                }
            }
        }

        .bottom {
            margin-top: 25px;
            font-size: 20px;

            .text-with-icon {
                margin-top: 10px !important;
                font-size: 18px;
            }
        }
    }
}