.app-layout {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;

    .layout-blocks {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}