.menu-container {
    display: flex;
    width: 100%;

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-b);
        flex-direction: column;
        list-style: none;
        width: 100%;

        .menu-item {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .menu-link {
                font-size: 20px;
                padding: 0 5px;
                font-weight: bold;
                text-decoration: none;
                color: white;
            }

            .menu-link-underline {
                background-color: var(--brand-color-a);
                height: 2.5px;
                width: 100%;
                transition: all 0.3s ease-in-out;
                transform: translateX(-105%);
            }
        }

        .menu-item:not(:first-child) {
            margin-top: 15px;
        }

        .menu-item:hover {
            .menu-link {
                text-shadow:
                    0 0 1px #fff,
                    0 0 10px var(--brand-color-a);
                // background-image: linear-gradient(to left, var(--brand-color-b), var(--brand-color-a));
            }

            .menu-link-underline {
                transform: translateX(0);
            }
        }
    }
}

@media (min-width: 1024px) {
    .menu-container {
        .menu {
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            .menu-item {
                .menu-link {
                    font-size: 15px;
                }
            }

            .menu-item:not(:first-child) {
                margin-top: 0;
            }

            .menu-item:not(:last-child) {
                margin-right: 12px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .menu-container {
        .menu {
            .menu-item {
                .menu-link {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .menu-container {
        .menu {
            .menu-item {
                .menu-link {
                    font-size: 22px;
                }
            }
        }
    }
}