.mobilebar-container {
    display: flex;
    position: fixed;
    bottom: 0;
    border-top: 1px var(--brand-color-a) solid;
    box-shadow: 0 0 20px var(--brand-color-a);
    height: 50px;
    width: 100%;
    z-index: 5;

    .mobilebar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--brand-bg-glass);
        backdrop-filter: var(--glass);
        padding: 10px;
        height: 100%;
        width: 100%;

        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
        }

        .center-line {
            background-color: white;
            height: 100%;
            width: 2px;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;

            .text {
                color: white;
                font-weight: bolder;
            }

            .github-icon {
                fill: white;
                margin-left: 8px;
                height: 27px;
                width: 27px;
            }
        }
    }
}