.mobile-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-bg-glass);
    backdrop-filter: var(--glass);
    position: fixed;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 5;

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .mobile-menu-logo {
            margin-bottom: 30px;
        }
    }
}