.navbar-container {
    background-color: var(--brand-bg-glass);
    box-shadow: 0 0 20px var(--brand-color-a);
    border-bottom: 1px var(--brand-color-a) solid;
    backdrop-filter: var(--glass);
    -webkit-backdrop-filter: var(--glass);
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 5;

    .navbar {
        display: flex;
        padding: 20px 0;
    }
}