.navbar-container {
    background-color: rgba(31, 41, 55, 0.5);
    border-bottom: 1px white solid;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    position: fixed;
    width: 100%;

    .navbar {
        display: flex;
        padding: 20px 0;
    }
}