.about-dropdown-content {
    display: flex;
    width: 100%;

    .details {
        display: flex;
        flex-direction: column;
        background-color: var(--brand-bg-glass);
        backdrop-filter: var(--glass);
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px var(--brand-color-a);
        padding: 30px;
        width: 100%;

        .about-software {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .text {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                line-height: 1.5;
                justify-content: flex-start;
                margin-top: 15px;
                margin-left: 10px;
                font-size: 16px;
            }
        }

        .text {
           margin-right: auto;
           margin-top: 10px;
        }

        .series-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon {
            height: 40px;
            width: 40px;
        }

        .list-container {
            display: flex;
            flex-direction: column;

            .list-item:nth-child(even) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}