.about-me-container {
    display: flex;
    width: 100%;

    .about-me {
        display: flex;
        padding: 30px;
        width: 100%;

        .about-content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}